# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
client/.next/
client/out/
client/build/

# Server build output
server/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
